::selection {
  background-color: var(--main-color);
}

/*  CHAT GRADIENT  pm*/
#app-mount .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md {
  background: var(--gradient);
}
/* chat gradient server */
#app-mount .containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n {
  background: var(--gradient) !important;
}
/* HASHTAG server gradient chat */
.modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz {
  color: var(--text-muted);
}


.modeSelected-346R90:Hover .name-23GUGE, .modeConnected-3IsKId .name-23GUGE {
  color: var(--main-color);
}

/* chat ... color focused */

.colorDefault-2K3EoJ.focused-3afm-j{
  background-color: var(--main-color) !important;
}

/*Text Color*/

.markup-2BOw-j{
  font-size: 95% !important;
}


/*Mentions colour*/
.mention {
  color: var(--quaternary-color) !important;
  background: #424242;
}

.mention:hover {
  color: var(--main-color) !important;
  background: #000000;
}



/* Explorer and add new server icons */

#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig{
  color: var(--tertiary-color);
  background: #333333;
}

#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig:hover{
  color: #333333;
  background-color: #ececec;
}


/* chats bar unread message */
.unread-1xRYoj {
  background-color: var(--main-color);
}

.theme-dark .circleIconButton-jET_ig{
  border-radius: 25px;
}


  /* ========== Upload border fix ============ */
.theme-dark .uploadModal-2ifh8j {
  box-shadow: none;
  background-color: rgb(48, 48, 48);
}



  /* roles line sidebar*/
  .membersGroup-v9BXpm {
    color: white !important;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, transparent, rgb(201, 201, 201), transparent);
    border-image-slice: 1;
    padding: 19px 16px 6px 16px;
    margin: 0px 0px 0px 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    line-height: 15px;
  }
    



.theme-dark .searchBar-3dMhjb {
    background-color: rgba(255, 255, 255, 0.082);
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: white;
}

.icon-3cZ1F_ {
    color:white;
}

.button-14-BFJ {
    color: white !important;
}


.cozy-3raOZG .timestamp-3ZCmNB {
    color: var(--main-color);
}



/* SETTINGS Line */
.header-2RyJ0Y:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: 5px;
    color: white
}

.header-2RyJ0Y:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-left: 5px;
    color: white
}

.header-2RyJ0Y > h2 {
    padding-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:11px;
    text-align:center;
    transition:all .15s ease-in-out;
    opacity:.99;
}

.header-2RyJ0Y > h2 {
    color: white !important;
}

.header-2RyJ0Y{
    text-align: center;
    padding-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:11px;
    transition:all .15s ease-in-out;
    opacity:.99;
    background-color: transparent !important;
    color: var(--main-color);

}

/* 4. Popouts & Modals */

.userPopout-3XzG_A,
.create-guild-container.deprecated,
.inner-1JeGVc .root-SR8cQa,
.container-2x5lvQ,
.container-2Yth53,
.userList-1kLH8B,
#permissions-modal-wrapper #permissions-modal,
.create-guild-container-new.deprecated .form.deprecated,
.toast,
.inner-2VEzy9 .root-SR8cQa,
#app-mount .modal-3c3bKg .inner-1ilYF7 .root-SR8cQa {
  background-image: var(--popup-background) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* 6. Misc */
  /* custom background fix */
  
  .userPopout-3XzG_A .wrapper-3t9DeA * {
    z-index: 1;
  }
  
  .userPopout-3XzG_A .wrapper-3t9DeA::after {
    z-index: unset;
  }

  .reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}
 /* Dark Mode */
 .appMount-3lHmkl {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }
.theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }


/* 3. User Settings */
  /* 3.a. General Sidebar */

  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, 
  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
    justify-content: flex-start;
  }
  
  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
    -ms-flex: 0;
    -ms-flex-pack: end;
    flex: 0;
    z-index: 1;
  }
  
  .info-1VyQPT::before {
    content: var(--theme-name) " " var(--theme-version);
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--main-color);
  }
  
    /* 3.b. General Content Area */
  
  #app-mount .contentRegionScroller-26nc1e {
    background: transparent;
  }
  
  .standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {
    padding: 20px 40px 80px;
  }
  
  .standardSidebarView-3F1I7i .contentRegionScroller-26nc1e {
    width: 100%;
  }
  
  .standardSidebarView-3F1I7i .contentColumn-2hrIYH, 
  .standardSidebarView-3F1I7i .customColumn-Rb6toI {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 100%;F
    min-height: 100%;
    min-width: 460px;
  }
  
  .standardSidebarView-3F1I7i .customScroller-26gWhv>div {
    max-width: 100%;
    margin-right: 98px;
  }
  
  .theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
    width: calc(100% - 226px);
    min-width: 553px;
    padding: 0;
  }
  
  .sidebarScrollable-1qPI87 {
    width: 24%;
  }
  
  .scroller-305q3I {
    background: transparent;
  }
  
  .sidebarScrollable-1qPI87+.content-1rPSz4 {
    max-width: 100%;
    margin-left: 25%;
  }
  
  .standardSidebarView-3F1I7i .noticeRegion-1YviSH {
    transform: translateX(25%) !important;
  }
  
  .premium-settings .premium-header,
  .premium-settings .features-vNGwn7 {
    max-width: 98%;
  }
  
  
    /* 3.c. Cards and Items */
  
  .side-8zPYf6 .itemSelected-1qLhcL,
  #bd-settings-sidebar .ui-tab-bar-item.selected,
  .questionMark-CWEQZn {
    background-color: var(--main-color) !important;
  }
  
  .accountBtnInner-sj5jLs{
    background-color: var(--primary-color) !important;
    border-color: var(--tertiary-color) !important;
  }
  
  .accountBtn-2Nozo3 {
    transition: transform .2s ease-in-out;
  }
  
  .accountBtn-2Nozo3:hover {
    transform: scale(1.2);
  }
  
  .cardPrimary-1Hv-to,
  .cardPrimaryEditable-3KtE4g,
  .authedApp-mj2Hmd,
  .wrapper-3UweLa,
  .descriptionBox-1EKQKL {
    background: var(--quaternary-color) !important;
    border: none;
  }
  
  
  
  #app-mount .item-3eFBNF,
  #app-mount .game-1ipmAa {
    -webkit-box-shadow: inset 0 -1px 0 0 var(--tertiary-color);
    box-shadow: inset 0 -1px 0 0 var(--tertiary-color);
  }
  
  .item-3eFBNF.selected-2DeaDa {
    background-color: var(--quaternary-color);
  }
  
  #app-mount .card-FDVird:before {
    background-color: var(--quaternary-color);
    border-color: var(--ssecondary-color);
  }
  
  #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
  .bda-slist .bda-footer button,
  .bd-switch.bd-switch-checked {
    background: var(--main-color)
  }
  
  #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
  .bd-switch {
    background: var(--quaternary-color);
  }
  
  #app-mount .bd-addon-list .bd-addon-card {
    background: var(--tertiary-color)
  }
  
  #app-mount .bda-slist li,
  #app-mount .emptyApplications-3GTmw-,
  #app-mount .emptyUsers--hiToV  {
    background-color: var(--secondary-color);
    border-color: var(--tertiary-color);
  }
  
  .button-mM-y8i {
    background-color: var(--secondary-color) !important
  }
  
  /*.user-settings-games .game-name-input:focus,
  .user-settings-games .game-name-input:hover {
      background-color: var(--tertiary-color) !important 
  }*/
  
  .notDetected-33MY4s {
    background-color: var(--tertiary-color) !important;
  }
  
  .addGamePopout-2RY8Ju {
    background-color: var(--tertiary-color) !important;
  }
  
  .applications-3KXbc1 {
    width: auto;
    justify-content: center;
  }
  
  .theme-dark .finePrint-xGGTK5,
  .theme-dark .description-1W0DiL {
    color: #aaa;
  }
  
  .theme-light .finePrint-xGGTK5,
  .theme-light .description-1W0DiL {
    color: #555;
  }
  
  .side-8zPYf6 .item-PXvHYJ[style*="background-color: rgb(114, 137, 218); color: rgb(255, 255, 255);"],
  .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    color: white !important;
  }
  
    /* 3.d. Buttons, Switches, and Bars */
  .lookFilled-1Gx00P.colorBrand-3pXr91,
  .themeDefault-24hCdX.valueChecked-m-4IJZ,
  .barFill-23-gu-,
  [style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"],
  .bd-pfbtn,
  #pubslayer button,
  #bd-pub-button {
    background-color: var(--main-color) !important;
  }
  
  .bar-2Qqk5Z,
  .lookFilled-1Gx00P.colorTransparent-1ewNp9 {
    background-color: var(--quaternary-color) !important;
  }
  
  .lookFilled-1Gx00P.colorBrand-3pXr91:hover,
  #pubslayer button:hover {
    background-color: var(--hover-color) !important;
    color: var(--main-color);
  }
  
  .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,
  .checked-3_4uQ9 {
    background-color: var(--main-color) !important;
    border-color: var(--hover-color) !important;
  }
  
  svg[name*="Checkmark"] {
    filter: brightness(10);
  }
  
  .privateChannels-1nO12o .channel-2QD9_O .linkButtonIcon-Mlm5d6 {
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .theme-light .privateChannels-1nO12o .channel-2QD9_O .linkButtonIcon-Mlm5d6 {
    filter: invert(100%);
  }
  
  .premiumIndicator-1XvbfM,
  .standardSidebarView-3F1I7i #editor-detached button {
    background-color: var(--main-color);
  }
  
  .standardSidebarView-3F1I7i .contentRegionScroller-26nc1e .tools-3-3s-N {
    z-index: 1000;
  }
  
  .hiddenLibraryApplication-2esFER:hover .restoreButton-22-SIW {
    opacity: 0.5;
  }
  
  .hiddenLibraryApplication-2esFER:hover .restoreButton-22-SIW:hover {
  opacity: 1;
  transform: scale(1.2);
  }
  
  .hiddenLibraryApplication-2esFER:hover .restoreButton-22-SIW:active {
    opacity: 1;
    transform: scale(0.8);
  }
  
  .restoreButton-22-SIW {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--dnd);
  transition: transform .2s ease-in-out;
  }
  
  .restoreIcon-2YLu1X {
  color: var(--dnd) !important;
  }
  
  .theme-dark .progress-1IcQ3A,
  .theme-light .progress-1IcQ3A {
    background-color: var(--quaternary-color);
  }
  
  #app-mount .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, 
  #app-mount .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--main-color)
  }
  
  #app-mount .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, 
  #app-mount .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
    background-color: var(--hover-color);
  }
  
  #app-mount .friendSelected-3J_Uh8 {
    background-color: var(--secondary-color);
  }
  
    /* 3.e. Overlay Notifications */
  .wrapper-3jrx9n {
    border-color: var(--main-color);
  }
  
  .selected-mKYnfr.option-n0icdO {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  
  .option-n0icdO:hover {
    background-color: var(--hover-color)
  }
  
    /* 3.f. Nitro and Hypesquad Section */
  .grandfatheredMessage-2QgLnw {
    justify-content: center;
  }
  
  .tier1Banner-1B_WXY,
  .details-39BP6c {
    width: 660px;
  }
  
  .sectionHeader-B058Rx,
  .subsectionHeader-2euE2f,
  .sectionHeader-127c3L {
    text-align: center;
  }
  
  .mechaWumpus-10tlHF {
    right: -50px;
  }
  
  .tier1Banner-1B_WXY,
  .container-2Zlzt0,
  .detailsBlock-FoDTGA,
  .premiumSubscriptionAccountCredit-25i0tQ {
    background-color: var(--quaternary-color) !important;
  }
  
  .popout-3sVMXz.popoutBottom-1YbShG.noShadow-321ZPm[style*="top: 286px"] {
    margin-top: 15px !important;
  }
  
  .codeRedemptionRedirect-1wVR4b {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }
  
  .premiumContainer-2Iux5m,
  .banner-3Kac2g,
  .tier1Banner-1BTgv0 {
    max-width: unset;
  }
  
  #app-mount {
    max-width: unset;
    background-color: var(--tertiary-color);
  }
  
  .details-1YZMDP {
    min-width: 100%;
    margin-left: unset;
    transform: none;
  }
  
  .detailsBlock-FoDTGA {
    min-width: 45%;
  }
  
  .tier1Banner-1B_WXY {
    width: unset;
  }
  
/* Settings BG*/
  .sidebarRegionScroller-3MXcoP.da-sidebarRegionScroller.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2{
      background-color: transparent !important;
  }
/* settings credits */
  .info-1VyQPT::before {
    content: "DARTIIC2K";
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--main-color);
}

  /* ========== Upload border fix ============ */
.theme-dark .uploadModal-2ifh8j {
  box-shadow: none;
  background-color: rgb(48, 48, 48);
}




.members-1998pB .membersGroup-v9BXpm{
  color: rgb(224, 224, 224) !important; 
}


#MemberCount > h2 {
    padding-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:11px;
    text-align:center;
    transition:all .15s ease-in-out;
    opacity:.99;
}

#MemberCount > h2 {
    color: white !important;
    border: none !important;
    
}

#MemberCount {
    background-color: transparent !important;
    text-align: center !important;
    margin: 0px 0px -7.5px 0px !important; 
}

.membersGroup-v9BXpm:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: 5px;
}


.membersGroup-v9BXpm:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-left: 5px;
}

/* TOP DARTIIC2K WINDOW */
.typeWindows-1za-n7>.wordmark-2iDDfm{
  position:static;
  margin-right:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  opacity:1;
  pointer-events:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  order:1;
  color: var(--main-color);
}
.typeWindows-1za-n7>.wordmark-2iDDfm:before,.typeWindows-1za-n7>.wordmark-2iDDfm:after{
  margin-left:3px;
  margin-top: 2px;
  font-weight:800;
  white-space:nowrap;
  order:1;
}
.typeWindows-1za-n7>.wordmark-2iDDfm:before{
  content:"DARTIIC2K";
  color:rgb(255, 255, 255);
  font-size:12.5px;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}
.typeWindows-1za-n7>.wordmark-2iDDfm>svg{
  -webkit-filter:drop-shadow(0 0 5px var(--main-transparency));
  filter:drop-shadow(0 0 5px var(--main-transparency));
}


/* Reaction Emotes Number */
.reactionCount-2mvXRV {
    color: white !important;
}

/* Owner Tag white */
.px-10SIf7.botTag-2WPJ74[style^="background-color: rgb(179, 179, 179)"] {
    background-color: white !important;
    color: black;
    font: bolder;
}



/* Css */
.inner-WRV6k5 button {
    color: var(--main-color) !important;
    font-size: 16px;
  }
  .barFill-Dhkah7 {
      background-color: var(--main-color) !important;
  }
  .bar-g2ZMIm {
      background-color: #D7D7D7 !important;
  }

  .ui-tab-bar-item.selected {
    background-color: #FF4500 !important ;
    color: #fff !important ;
  }

  .expandedFolderIconWrapper-1xLaU- {
      background-color: black !important ;
      /*
      opacity: 0.4;
      */
  }

  .expandedFolderBackground-2sPsd- {
      background-color: transparent !important ;
  }

  .members-1998pB {background: rgba(0,0,0,0.2) !important;}

  .emptyCard-1RJw8n.da-emptyCard {
      background-color: transparent !important;
  }


  .background-1QDuV2.da-background {
        background-color: transparent !important;
  }

  .fieldList-21DyL8.da-fieldList {
      background-color: rgba(0, 0, 0, 0.60);
  }


    
    .content-1o0f9g.da-content {
        color: var(--details) !important;
    }
  
    .isUnread-3Ef-o9 {
        border-color: var(--details) !important;
    }
  
    .unreadPill-2HyYtt.da-unreadPill {
        background-color: var(--details);
    }
  
    .unreadPillCapStroke-7rkHbg  {
        color: var(--details);
        fill: var(--details);
    }
  
    .unreadPill-2HyYtt {
        color: white;
        font-size: 12.5px;
        /*text-shadow: -1px -0.5px 0 #7a7a7a, 0px -0px 0 #7a7a7a, -0px 0px 0 #7a7a7a, 0px 0px 0 #7a7a7a; */
    }
  
      .container-2ax-kl {
          color: var(--main-color);
      }
/* CREATION DATE PROFILE */
       .creationDate-CJwdKT {
        color: #ffffff !important;
    }
    
    .newMessagesBar-265mhP.barBase-1c2Rfb.da-newMessagesBar.da-barBase {
        background-color: var(--main-color);
    }

    .button-1YfofB.da-button.buttonColor-7qQbGO.da-buttonColor.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
        background-color: #1db954e5;
        border-radius: 3px 3px 3px 3px;
    }
    .invite-18yqGF.da-invite.container-o3RxSG.da-container {
        background: rgba(0, 0, 0, 0.863);
    border-color: transparent;
    }

    .wrapper-1ucjTd.modeLocked-SZJhTy .name-3_Dsmg, .wrapper-1ucjTd.modeLocked-SZJhTy .icon-1_QxNX {
        color: #ff1100;
    }

    .protip-YaFfgO {
        display: none;
    }

/* Badges everywhere role chat */
.roleStyle-jQ7KI2 {
  border-radius: 5%;
}


.roleCircle-3xAZ1j {
  border-radius: 30%;
}

.theme-dark .roleStyle-jQ7KI2 {
  background: #3a3a3a;
}

/* Roles Profile modal */
.role-2irmRk {
  position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-width: 0px 0px 0px 3px;
    border-radius: 1px 3px 3px 1px;
}

.roleCircle-3xAZ1j::before {
  position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}

/* Servers chat green arrow */
.icon-2yIBmh {
  color: var(--main-color);
}

/* SETTINGS THEMES & PLUGINS TAB */
#app-mount .bd-addon-list .bd-addon-card {
  background-color: transparent !important;
}

/* buttons in the plugins & themes tab */
.bd-switch{
  background-color: var(--text-muted);
}


/* PM's users list color */
.container-2Pjhx- {
  color: rgb(200, 200, 200);
}

/* discord nitro page align */
.hero-EvfTTA {
  max-width: none !important;
}

/* write message */
.scrollableContainer-2NUZem {
  background: linear-gradient(to top, rgb(54, 54, 54) 0%, rgb(0, 0, 0));
  border-radius: 8px;
}

.channelTextArea-rNsIhG {
  box-shadow: 0px 0px 1px 1px var(--text-muted);
}

/* Mentions,profile popups and embeds are now more rounded */

.embedFull-2tM8-- {
  border-radius: 0.5em;
  border: 1px solid var(--background-tertiary);
}
.markup-2BOw-j code {
  border-radius: 0.5em;
}
.ephemeral-1PsL1r:before,.mentioned-xhSam7:before,.replying-1x3H0T:before {
  display: none;
}
.mentioned-xhSam7 {
  border-radius: 0.5em;
  box-shadow: inset 0px -1px 2px 0px #3d3d3d;
}
.userPopout-3XzG_A {
  border-radius: 0.5em;
}
.item-1tOPte{
  border-radius: 0.5em;
}
.menu-3sdvDG {
  border-radius: 0.5em;
}


/* RMB actions color */
.colorDefault-2K3EoJ {
  color: var(--secondary-color);
  border-color: var(--main-color);
}

.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--main-color);
  color: var(--secondary-color);
}


/* New message on chat */

.newMessagesBar-265mhP {
  background-color: var(--main-color);
  border-radius: 0 0 6.5px 6.5px;
}


.unread-2lAfLh {
  height: 18px;
  width: 3px;
  top: 35%;
  background-color: var(--main-color);
}


.modeUnread-1qO3K1 .name-23GUGE {
color: var(--main-color);
}

.modeUnread-1qO3K1 .icon-1DeIlz{
  color: var(--main-color);
}



.modeMuted-onO3r-:hover .name-23GUGE, .wrapper-2jXpOf:hover .name-23GUGE {
  color: var(--secondary-color);
}

.wrapper-2jXpOf:hover .content-1x5b-n {
  background-image: linear-gradient(90deg, transparent, rgba(102, 102, 102, 0.541), transparent);
}


/* color when click */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--main-color);
    color: #fff;
}



/* BetterCodeBlocks */

.markup-2BOw-j pre {
  background-color: var(--background-secondary);
  position: relative;
  margin: 10px 0 5px 0;
  border-radius: 0px;
  overflow: hidden;
}
.markup-2BOw-j pre:before {
  content: "1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a 100\a 101\a 102\a 103\a 104\a 105\a 106\a 107\a 108\a 109\a 110\a 111\a 112\a 113\a 114\a 115\a 116\a 117\a 118\a 119\a 120\a 121\a 122\a 123\a 124\a 125\a 126\a 127\a 128\a 129\a 130\a 131\a 132\a 133\a 134\a 135\a 136\a 137\a 138\a 139\a 140\a 141\a 142\a 143\a 144\a 145\a 146\a 147\a 148\a 149\a 150\a 151\a 152\a 153\a 154\a 155\a 156\a 157\a 158\a 159\a 160\a 161\a 162\a 163\a 164\a 165\a 166\a 167\a 168\a 169\a 170\a 171\a 172\a 173\a 174\a 175\a 176\a 177\a 178\a 179\a 180\a 181\a 182\a 183\a 184\a 185\a 186\a 187\a 188\a 189\a 190\a 191\a 192\a 193\a 194\a 195\a 196\a 197\a 198\a 199\a 200\a 201\a 202\a 203\a 204\a 205\a 206\a 207\a 208\a 209\a 210\a 211\a 212\a 213\a 214\a 215\a 216\a 217\a 218\a 219\a 220\a 221\a 222\a 223\a 224\a 225\a 226\a 227\a 228\a 229\a 230\a 231\a 232\a 233\a 234\a 235\a 236\a 237\a 238\a 239\a 240\a 241\a 242\a 243\a 244\a 245\a 246\a 247\a 248\a 249\a 250\a 251\a 252\a 253\a 254\a 255\a 256\a 257\a 258\a 259\a 260\a 261\a 262\a 263\a 264\a 265\a 266\a 267\a 268\a 269\a 270\a 271\a 272\a 273\a 274\a 275\a 276\a 277\a 278\a 279\a 280\a 281\a 282\a 283\a 284\a 285\a 286\a 287\a 288\a 289\a 290\a 291\a 292\a 293\a 294\a 295\a 296\a 297\a 298\a 299\a 300\a 301\a 302\a 303\a 304\a 305\a 306\a 307\a 308\a 309\a 310\a 311\a 312\a 313\a 314\a 315\a 316\a 317\a 318\a 319\a 320\a 321\a 322\a 323\a 324\a 325\a 326\a 327\a 328\a 329\a 330\a 331\a 332\a 333\a 334\a 335\a 336\a 337\a 338\a 339\a 340\a 341\a 342\a 343\a 344\a 345\a 346\a 347\a 348\a 349\a 350\a 351\a 352\a 353\a 354\a 355\a 356\a 357\a 358\a 359\a 360\a 361\a 362\a 363\a 364\a 365\a 366\a 367\a 368\a 369\a 370\a 371\a 372\a 373\a 374\a 375\a 376\a 377\a 378\a 379\a 380\a 381\a 382\a 383\a 384\a 385\a 386\a 387\a 388\a 389\a 390\a 391\a 392\a 393\a 394\a 395\a 396\a 397\a 398\a 399\a 400\a 401\a 402\a 403\a 404\a 405\a 406\a 407\a 408\a 409\a 410\a 411\a 412\a 413\a 414\a 415\a 416\a 417\a 418\a 419\a 420\a 421\a 422\a 423\a 424\a 425\a 426\a 427\a 428\a 429\a 430\a 431\a 432\a 433\a 434\a 435\a 436\a 437\a 438\a 439\a 440\a 441\a 442\a 443\a 444\a 445\a 446\a 447\a 448\a 449\a 450\a 451\a 452\a 453\a 454\a 455\a 456\a 457\a 458\a 459\a 460\a 461\a 462\a 463\a 464\a 465\a 466\a 467\a 468\a 469\a 470\a 471\a 472\a 473\a 474\a 475\a 476\a 477\a 478\a 479\a 480\a 481\a 482\a 483\a 484\a 485\a 486\a 487\a 488\a 489\a 490\a 491\a 492\a 493\a 494\a 495\a 496\a 497\a 498\a 499\a 500\a 501\a 502\a 503\a 504\a 505\a 506\a 507\a 508\a 509\a 510\a 511\a 512\a 513\a 514\a 515\a 516\a 517\a 518\a 519\a 520\a 521\a 522\a 523\a 524\a 525\a 526\a 527\a 528\a 529\a 530\a 531\a 532\a 533\a 534\a 535\a 536\a 537\a 538\a 539\a 540\a 541\a 542\a 543\a 544\a 545\a 546\a 547\a 548\a 549\a 550\a 551\a 552\a 553\a 554\a 555\a 556\a 557\a 558\a 559\a 560\a 561\a 562\a 563\a 564\a 565\a 566\a 567\a 568\a 569\a 570\a 571\a 572\a 573\a 574\a 575\a 576\a 577\a 578\a 579\a 580\a 581\a 582\a 583\a 584\a 585\a 586\a 587\a 588\a 589\a 590\a 591\a 592\a 593\a 594\a 595\a 596\a 597\a 598\a 599\a 600\a 601\a 602\a 603\a 604\a 605\a 606\a 607\a 608\a 609\a 610\a 611\a 612\a 613\a 614\a 615\a 616\a 617\a 618\a 619\a 620\a 621\a 622\a 623\a 624\a 625\a 626\a 627\a 628\a 629\a 630\a 631\a 632\a 633\a 634\a 635\a 636\a 637\a 638\a 639\a 640\a 641\a 642\a 643\a 644\a 645\a 646\a 647\a 648\a 649\a 650\a 651\a 652\a 653\a 654\a 655\a 656\a 657\a 658\a 659\a 660\a 661\a 662\a 663\a 664\a 665\a 666\a 667\a 668\a 669\a 670\a 671\a 672\a 673\a 674\a 675\a 676\a 677\a 678\a 679\a 680\a 681\a 682\a 683\a 684\a 685\a 686\a 687\a 688\a 689\a 690\a 691\a 692\a 693\a 694\a 695\a 696\a 697\a 698\a 699\a 700\a 701\a 702\a 703\a 704\a 705\a 706\a 707\a 708\a 709\a 710\a 711\a 712\a 713\a 714\a 715\a 716\a 717\a 718\a 719\a 720\a 721\a 722\a 723\a 724\a 725\a 726\a 727\a 728\a 729\a 730\a 731\a 732\a 733\a 734\a 735\a 736\a 737\a 738\a 739\a 740\a 741\a 742\a 743\a 744\a 745\a 746\a 747\a 748\a 749\a 750\a 751\a 752\a 753\a 754\a 755\a 756\a 757\a 758\a 759\a 760\a 761\a 762\a 763\a 764\a 765\a 766\a 767\a 768\a 769\a 770\a 771\a 772\a 773\a 774\a 775\a 776\a 777\a 778\a 779\a 780\a 781\a 782\a 783\a 784\a 785\a 786\a 787\a 788\a 789\a 790\a 791\a 792\a 793\a 794\a 795\a 796\a 797\a 798\a 799\a 800\a 801\a 802\a 803\a 804\a 805\a 806\a 807\a 808\a 809\a 810\a 811\a 812\a 813\a 814\a 815\a 816\a 817\a 818\a 819\a 820\a 821\a 822\a 823\a 824\a 825\a 826\a 827\a 828\a 829\a 830\a 831\a 832\a 833\a 834\a 835\a 836\a 837\a 838\a 839\a 840\a 841\a 842\a 843\a 844\a 845\a 846\a 847\a 848\a 849\a 850\a 851\a 852\a 853\a 854\a 855\a 856\a 857\a 858\a 859\a 860\a 861\a 862\a 863\a 864\a 865\a 866\a 867\a 868\a 869\a 870\a 871\a 872\a 873\a 874\a 875\a 876\a 877\a 878\a 879\a 880\a 881\a 882\a 883\a 884\a 885\a 886\a 887\a 888\a 889\a 890\a 891\a 892\a 893\a 894\a 895\a 896\a 897\a 898\a 899\a 900\a 901\a 902\a 903\a 904\a 905\a 906\a 907\a 908\a 909\a 910\a 911\a 912\a 913\a 914\a 915\a 916\a 917\a 918\a 919\a 920\a 921\a 922\a 923\a 924\a 925\a 926\a 927\a 928\a 929\a 930\a 931\a 932\a 933\a 934\a 935\a 936\a 937\a 938\a 939\a 940\a 941\a 942\a 943\a 944\a 945\a 946\a 947\a 948\a 949\a 950\a 951\a 952\a 953\a 954\a 955\a 956\a 957\a 958\a 959\a 960\a 961\a 962\a 963\a 964\a 965\a 966\a 967\a 968\a 969\a 970\a 971\a 972\a 973\a 974\a 975\a 976\a 977\a 978\a 979\a 980\a 981\a 982\a 983\a 984\a 985\a 986\a 987\a 988\a 989\a 990\a 991\a 992\a 993\a 994\a 995\a 996\a 997\a 998\a 999\a";
  background-color: var(--background-secondary-alt);
  color: var(--text-muted);
  border-right: 1px solid var(--background-floating);
  position: absolute;
  width: 24px;
  height: calc(100% - 25px);
  padding: 25px 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  overflow: hidden;
}
.markup-2BOw-j pre code {
  background-color: transparent !important;
  color: var(--syntax-grey-alt);
  border: 1px solid var(--background-floating);
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding: 25px 10px 2px 38px !important;
  border-radius: 0px;
  box-sizing: border-box;
}
.markup-2BOw-j pre code:before {
  content: "Unknown Language";
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
  border-bottom: 1px solid var(--background-floating);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  padding: 0 30px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.markup-2BOw-j pre code:after {
  content: "";
  background-color: var(--text-normal);
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 23px;
  padding: 0 3px;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5z"/><path d="M4.53 12.24a.75.75 0 01-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 11-1.022 1.1l-3.23-3a.75.75 0 010-1.1l3.23-3a.75.75 0 011.06.04zm3.979 1.06a.75.75 0 111.02-1.1l3.231 3a.75.75 0 010 1.1l-3.23 3a.75.75 0 11-1.021-1.1l2.639-2.45-2.64-2.45z"/></svg>') center/12px no-repeat;
}
.markup-2BOw-j pre code[class~=hljs]:before {
  content: "Plain Text";
}
.markup-2BOw-j pre code[class~=diff i]:before {
  content: "Diff";
}
.markup-2BOw-j pre code[class~=cs i]:before, .markup-2BOw-j pre code[class~=csharp i]:before {
  content: "C#";
}
.markup-2BOw-j pre code[class~=ini i]:before {
  content: "Initialization File";
}
.markup-2BOw-j pre code[class~=autohotkey i]:before {
  content: "AutoHotkey";
}
.markup-2BOw-j pre code[class~=asciidoc i]:before {
  content: "Ascii";
}
.markup-2BOw-j pre code[class~=TOML i]:before {
  content: "TOML";
}
.markup-2BOw-j pre code[class~=nginx i]:before {
  content: "NGINX";
}
.markup-2BOw-j pre code[class~=perl i]:before {
  content: "Perl";
}
.markup-2BOw-j pre code[class~=d i]:before {
  content: "d";
}
.markup-2BOw-j pre code[class~=javascript i]:before, .markup-2BOw-j pre code[class~=js i]:before {
  content: "Javascript";
}
.markup-2BOw-j pre code[class~=css i]:before {
  content: "Cascading Style Sheet";
}
.markup-2BOw-j pre code[class~=bash i]:before {
  content: "Bash";
}
.markup-2BOw-j pre code[class~=markdown i]:before, .markup-2BOw-j pre code[class~=md i]:before {
  content: "Markdown";
}
.markup-2BOw-j pre code[class~=html i]:before {
  content: "HTML";
}
.markup-2BOw-j pre code[class~=xl i]:before {
  content: "eXtensible Language";
}
.markup-2BOw-j pre code[class~=coffee i]:before {
  content: "CoffeeScript";
}
.markup-2BOw-j pre code[class~=ruby i]:before {
  content: "Ruby";
}
.markup-2BOw-j pre code[class~=sql i]:before {
  content: "SQL";
}
.markup-2BOw-j pre code[class~=java i]:before {
  content: "Java";
}
.markup-2BOw-j pre code[class~=py i]:before, .markup-2BOw-j pre code[class~=python i]:before {
  content: "Python";
}
.markup-2BOw-j pre code[class~=vb i]:before, .markup-2BOw-j pre code[class~=visualbasic i]:before, .markup-2BOw-j pre code[class~=vbs i]:before {
  content: "Visual Basic";
}
.markup-2BOw-j pre code[class~=lua i]:before {
  content: "Lua";
}
.markup-2BOw-j pre code[class~=php i]:before {
  content: "Php";
}
.markup-2BOw-j pre code[class~=swift i]:before {
  content: "Swift";
}
.markup-2BOw-j pre code[class~=makefile i]:before {
  content: "Makefile";
}
.markup-2BOw-j pre code[class~=go i]:before {
  content: "Go";
}
.markup-2BOw-j pre code[class~=rust i]:before {
  content: "Rust";
}
.markup-2BOw-j pre code[class~=prolog i]:before {
  content: "Prolog";
}
.markup-2BOw-j pre code[class~=ts i]:before, .markup-2BOw-j pre code[class~=typescript i]:before {
  content: "TypeScript";
}
.markup-2BOw-j pre code[class~=http i]:before {
  content: "HyperText Transfer Protocol";
}
.markup-2BOw-j pre code[class~=json i]:before {
  content: "JSON";
}
.markup-2BOw-j pre code[class~=xml i]:before {
  content: "XML";
}
.markup-2BOw-j pre code[class~=less i]:before {
  content: "Less";
}
.markup-2BOw-j pre code[class~=sass i]:before, .markup-2BOw-j pre code[class~=scss i]:before {
  content: "SCSS";
}
.markup-2BOw-j pre code[class~=elm i]:before {
  content: "Elm";
}
.markup-2BOw-j pre code[class~=cpp i]:before {
  content: "C++";
}
.markup-2BOw-j pre code[class~=hbs i]:before {
  content: "Handlebars";
}
.markup-2BOw-j pre code[class~="1c" i]:before {
  content: "1c";
}
.markup-2BOw-j pre code[class~=abnf i]:before {
  content: "ABNF";
}
.markup-2BOw-j pre code[class~=clojure i]:before {
  content: "Clojure";
}
.markup-2BOw-j pre code[class~=objc i]:before {
  content: "Objective-C";
}
.markup-2BOw-j pre code[class~=yaml i]:before {
  content: "YAML";
}
.markup-2BOw-j pre code[class~=shell i]:before, .markup-2BOw-j pre code[class~=sh i]:before {
  content: "Shell";
}
.markup-2BOw-j pre code[class~=kotlin i]:before {
  content: "Kotlin";
}
.markup-2BOw-j pre code[class~=apache i]:before {
  content: "Apache";
}
.markup-2BOw-j pre code[class~=stylus i]:before {
  content: "Stylus";
}
.markup-2BOw-j pre code[class~=avrasm i]:before {
  content: "AVR Assembler";
}
.markup-2BOw-j pre code[class~=llvm i]:before {
  content: "LLVM iR";
}
.markup-2BOw-j pre code[class~=mipsasm i]:before {
  content: "MIPS Assembly";
}
.markup-2BOw-j pre code[class~=x86asm i]:before {
  content: "Intel x86 Assembly";
}
.markup-2BOw-j pre code[class~=crmsh i]:before {
  content: "crmsh";
}
.markup-2BOw-j pre code[class~=dns i]:before {
  content: "DNS Zone File";
}
.markup-2BOw-j pre code[class~=dockerfile i]:before {
  content: "Dockerfile";
}
.markup-2BOw-j pre code[class~=dsconfig i]:before {
  content: "dsconfig";
}
.markup-2BOw-j pre code[class~=jboss-cli i]:before {
  content: "jboss-cli";
}
.markup-2BOw-j pre code[class~=ldif i]:before {
  content: "LDIF";
}
.markup-2BOw-j pre code[class~="pf.conf" i]:before {
  content: "pf.conf";
}
.markup-2BOw-j pre code[class~=puppet i]:before {
  content: "Puppet";
}
.markup-2BOw-j pre code[class~=roboconf i]:before {
  content: "Roboconf";
}
.markup-2BOw-j pre code[class~=axapta i]:before {
  content: "Microsoft Dynamics AX";
}
.markup-2BOw-j pre code[class~=cos i]:before {
  content: "Cache Object Script";
}
.markup-2BOw-j pre code[class~=isbl i]:before {
  content: "ISBL";
}
.markup-2BOw-j pre code[class~=livecodeserver i]:before {
  content: "LiveCode";
}
.markup-2BOw-j pre code[class~=ldif i]:before {
  content: "LDIF";
}
.markup-2BOw-j pre code[class~=ruleslanguage i]:before {
  content: "Oracle Rules Language";
}
.markup-2BOw-j pre code[class~=clean i]:before {
  content: "Clean";
}
.markup-2BOw-j pre code[class~=coq i]:before {
  content: "Coq";
}
.markup-2BOw-j pre code[class~=elixir i]:before {
  content: "Elixir";
}
.markup-2BOw-j pre code[class~=erlang-repl i]:before {
  content: "Erlang REPL";
}
.markup-2BOw-j pre code[class~=erlang i]:before {
  content: "Erlang";
}
.markup-2BOw-j pre code[class~=flix i]:before {
  content: "Flix";
}
.markup-2BOw-j pre code[class~=fsharp i]:before, .markup-2BOw-j pre code[class~=fs i]:before {
  content: "F#";
}
.markup-2BOw-j pre code[class~=haskell i]:before {
  content: "Haskell";
}
.markup-2BOw-j pre code[class~=ocaml i]:before {
  content: "OCaml";
}
.markup-2BOw-j pre code[class~=scala i]:before {
  content: "Scala";
}
.markup-2BOw-j pre code[class~=sml i]:before {
  content: "SML (Standard ML)";
}
.markup-2BOw-j pre code[class~=xquery i]:before {
  content: "XQuery";
}
.markup-2BOw-j pre code[class~=glsl i]:before {
  content: "GLSL";
}
.markup-2BOw-j pre code[class~=mel i]:before {
  content: "MEL";
}
.markup-2BOw-j pre code[class~=processing i]:before {
  content: "Processing";
}
.markup-2BOw-j pre code[class~=rib i]:before {
  content: "RenderMan RIB";
}
.markup-2BOw-j pre code[class~=rsl i]:before {
  content: "RenderMan RSL";
}
.markup-2BOw-j pre code[class~=armasm i]:before {
  content: "Arm Assembly";
}
.markup-2BOw-j pre code[class~=asm i]:before, .markup-2BOw-j pre code[class~=assembly i]:before {
  content: "Assembly";
}
.markup-2BOw-j pre code .hljs-built_in,
.markup-2BOw-j pre code .hljs-doctag,
.markup-2BOw-j pre code .hljs-literal,
.markup-2BOw-j pre code .hljs-meta .hljs-meta-string,
.markup-2BOw-j pre code .hljs-number,
.markup-2BOw-j pre code .hljs-regexp,
.markup-2BOw-j pre code .hljs-selector-class {
  color: var(--syntax-purple);
}
.markup-2BOw-j pre code .hljs-attribute,
.markup-2BOw-j pre code .hljs-name,
.markup-2BOw-j pre code .hljs-section,
.markup-2BOw-j pre code .hljs-selector-class,
.markup-2BOw-j pre code .hljs-selector-id,
.markup-2BOw-j pre code .hljs-string,
.markup-2BOw-j pre code .hljs-title {
  color: var(--syntax-blue);
}
.markup-2BOw-j pre code .hljs-attr,
.markup-2BOw-j pre code .hljs-attribute,
.markup-2BOw-j pre code .hljs-bullet,
.markup-2BOw-j pre code .hljs-class,
.markup-2BOw-j pre code .hljs-link,
.markup-2BOw-j pre code .hljs-meta,
.markup-2BOw-j pre code .hljs-meta .hljs-keyword,
.markup-2BOw-j pre code .hljs-selector-attr,
.markup-2BOw-j pre code .hljs-selector-pseudo,
.markup-2BOw-j pre code .hljs-subst,
.markup-2BOw-j pre code .hljs-symbol,
.markup-2BOw-j pre code .hljs-template-variable,
.markup-2BOw-j pre code .hljs-title,
.markup-2BOw-j pre code .hljs-type,
.markup-2BOw-j pre code .hljs-variable {
  color: var(--syntax-orange);
}
.markup-2BOw-j pre code .hljs-addition,
.markup-2BOw-j pre code .hljs-keyword,
.markup-2BOw-j pre code .hljs-selector-tag {
  color: var(--syntax-green);
}
.markup-2BOw-j pre code .hljs-comment,
.markup-2BOw-j pre code .hljs-quote {
  color: var(--syntax-grey);
}
/* HideChannels Plugin fix */
.sidebar-2K8pFh.hideElement .container-3baos1 {
  background-color: transparent !important;
}


/* online friends tab, when none is playing */

.emptyCard-1RJw8n {
  background-color: #3333339c;
}


/* no clue */

.modalHeader-19eoYJ {
  padding-bottom: none;
}

.notDetected-33MY4s, .addGamePopout-2RY8Ju {
  background-color: var(--dark) !important;
}

.css-gvi9bl-control, .css-gvi9bl-control:hover {
  border-color: var(--main-color);
}

/* profile add note margin reduced to a compact style */
.note-QfFU8y {
  margin-bottom: -20px !important;
}


/* settings btn */
.bd-switch {
  background-color: rgba(208, 208, 208, 0.30);
  border-radius: 8px;
}

.sizeMini-1ii40f,
.bd-switch::after {
  border-radius: 6px;
}

.bd-switch-checked {
  background: var(--main-color);
}


.titleBar-AC4pGV.typeMacOS-3EmCyP,
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC,
.wrapper-1Rf91z,
.wrapper-1Rf91z .unreadMentionsIndicatorTop-gA6RCh,
.wrapper-1Rf91z .unreadMentionsIndicatorBottom-BXS58x {
	width: calc(1px * (var(--vguildsize) * var(--vcolumns) + 20 * (var(--vguildsize)/50) + 14 * (var(--vguildsize)/50) * (var(--vcolumns) - 1))) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - 50)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP,
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	width: calc(2px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) + 35 - 25)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) * 2 - 40)) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP.typeMacOSWithFrame-3R_i5S .macButtons-2MuSAC {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper-1Rf91z {
	padding: 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN {
	padding: 0 0 calc(10px * var(--vguildsize)/50) calc(10px * var(--vguildsize)/50) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN.none-2Eo-qx::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN,
.wrapper-1Rf91z .scroller-2TZvBN > [role="tree"],
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper-1Rf91z .listItem-2P_4kh {
	margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
}
.wrapper-1Rf91z #server-search {
	margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) !important;
}
.wrapper-1Rf91z #server-search .pill-3YxEhL {
	display: none;
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child .listItemWrapper-3X98Pc {
	margin: 0 calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) calc(1px * var(--vguildgap)) calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2))) !important;
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child .pill-1m5BUr ~ .listItemWrapper-3X98Pc {
	margin: 0 calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) 0 calc(1px * (((0 * var(--valigndms)) + ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))))) !important;
}
.wrapper-1Rf91z .blobContainer-239gwq,
.wrapper-1Rf91z .circleButtonMask-2VNJsN,
.wrapper-1Rf91z .guildsError-b7zR5H {
	margin: 0 !important;
}
.wrapper-1Rf91z .listItem-2P_4kh {
	width: auto !important;
}
.wrapper-1Rf91z .placeholderMask-3K9THS,
.wrapper-1Rf91z .svg-1X37T1,
.wrapper-1Rf91z .wrapper-25eVIn {
	height: calc(1px * var(--vguildsize)) !important;
	width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-1Rf91z .homeIcon-tEMBK1 {
	height: calc(1px * (var(--vguildsize) * (8/50) + 12)) !important;
	width: calc(1px * (var(--vguildsize) * (16/50) + 12)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN > div[style*="height"]:not([class]) {
	height: calc(1px * var(--vguildsize) * (58/50)) !important;
}
.wrapper-1Rf91z .upperBadge-2XnnGB .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .upperLeftBadge-e35IpL .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .lowerBadge-29hYVK .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .lowerLeftBadge-zr4T_9 .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .wrapper-sa6paO {
	top: calc(-5px * var(--vguildsize)/50) !important;
	height: calc(1px * (var(--vguildsize) + 10 * var(--vguildsize)/50)) !important;
	transform: scale(calc(var(--vguildsize)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper-1Rf91z .pill-2uzAFe {
	left: calc(1px * ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) - 9)) !important;
}
.wrapper-1Rf91z .pill-1m5BUr {
	left: calc(1px * ((var(--valigndms) + ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) - 8)) !important;
}
.wrapper-1Rf91z .pill-31IEus,
.wrapper-1Rf91z .pill-3YxEhL {
	left: calc(-10px * var(--vguildsize)/50) !important;
}
.wrapper-1Rf91z .guildSeparator-3s64Iy {
	width: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - (12 * var(--vguildsize)/50))) !important;
	margin: calc(1px * (var(--vguildsize)/10)) 0 !important;
	display: block !important;
}
.wrapper-1Rf91z [role=tree] ~ .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z [role=tree] ~ * .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) ~ .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) ~ * .listItem-2P_4kh .listItemWrapper-3X98Pc {
	margin: 0 !important;
}
.wrapper-1Rf91z .guildsError-b7zR5H {
	height: calc(1px * var(--vguildsize)) !important;
	width: calc(1px * var(--vguildsize)) !important;
	font-size: calc(1px * (var(--vguildsize)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--vguildsize)/4 + 6.5)) !important;
}
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z .frame-oXWS21,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g {
	font-size: calc(1px * ((var(--vguildsize)/8) + 3.75)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g,
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z .frame-oXWS21 {
	width: calc(1px * ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g,
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z .frame-oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) !important;
}
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--vguildsize)/8) + 5)) !important;
	line-height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	width: 100% !important;
}

.wrapper-1Rf91z .wrapper-21YSNc {
	margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
	width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-1Rf91z .wrapper-21YSNc > .listItem-2P_4kh {
	margin: 0 !important;
}
.wrapper-1Rf91z .wrapper-21YSNc .expandedGuilds-1JMD4M,
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	padding-left: 1px !important;
	height: auto !important;
}
.wrapper-1Rf91z .wrapper-21YSNc .expandedGuilds-1JMD4M .listItem-2P_4kh,
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] .listItem-2P_4kh {
	margin: 6px 0 !important;
}
.wrapper-1Rf91z .wrapper-21YSNc .expandedGuilds-1JMD4M .listItem-2P_4kh:last-child,
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] .listItem-2P_4kh:last-child {
	margin-bottom: 0 !important;
}
.wrapper-1Rf91z .expandedFolderBackground-2sPsd- {
	width: calc(1px * var(--vguildsize)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--vguildsize) * 1px - 5px) !important;
  bottom: unset !important;
}

/* Links I guess (dont remember anymore tbh) */

.metadata-3WGS0M {
  color: var(--secondary-color);
}

.filenameLinkWrapper-1-14c5{
  color: var(--main-color);
}


/* JUMP Button on the pins panel is now fixed */
.messagesPopoutWrap-1MQ1bW {
  width: 450px !important;
}

/* pins */
.grid-1nZz7S {
display: block;
}

/* Add roles member list */

.cardPrimary-1Hv-to {
  background-color: var(--main-transparency) !important;
}


#app-mount .card-FDVird:before {
  background-color: var(--main-color);
}


/* Owner tag dark colors fix, and so the user name color*/
.roleColor-rz2vM0[style^="color: rgb(8, 8, 8)"] {
    color: white !important;
}

.px-10SIf7.botTag-2WPJ74[style^="background-color: rgb(8, 8,8)"] {
  background-color: white !important;
  color: black;
}

.px-10SIf7.botTag-2WPJ74[style^="background-color: rgb(8, 8, 8)"] {
  background-color: white !important;
  color: black;
}

/* RMB action when in a screenshare */
.colorDefault-2K3EoJ {
 color: var(--text-default) !important;
}



/* Don't remember anymore, but just more color fixes*/
.colorDefault-2K3EoJ {
 color: var(--text-default) !important;
}

#app-mount .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover{
  background-color: grey;
}

.cardPrimaryEditable-3KtE4g{
  background-color: var(--dark) !important;
}

.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .authedApp-mj2Hmd, .wrapper-3UweLa, .descriptionBox-1EKQKL {
  background-color: var(--dark) !important;
}



.item-3HknzM.item-PXvHYJ[style^="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"] {
  background-color: var(--main-color) !important;
}





.checked-3_4uQ9 {
  background-color: inherit !important;
}

.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.box-mmYMsp.checked-3_4uQ9[style^="width: 20px;height: 20px;border-color: rgb(114, 137, 218);background-color: rgb(114, 137, 218);"]{
background-color: var(--main-color) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--main-color);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--tertiary-color);
  color: var(--main-color);
}



.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
  background-color: var(--dark) !important;
}




/* Accept ignore buttons on profile*/

.lookInverted-2D7oAl.colorGreen-29iAKY {
  color: #fff;
  background-color: var(--main-color);
}

.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
}




/*New server modal*/

.theme-light {
  --background-primary: rgb(0, 0, 0);
  --header-primary: var(--main-color);
  border: 2.5px solid var(--dark);
  border-radius: 8px;
}
.theme-light .footer-2gL1pp {
  background-color: var(--background-primary);
  -webkit-box-shadow: none;
}
.colorHeaderSecondary-3Sp3Ft{
  color: var(--text-default);
}
.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--main-color);
  color: var(--text-default);
  font-size:medium;
}
.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
  background-color: var(--dark);
  color: var(--main-color);
}
.colorStandard-2KCXvj.size20-17Iy80.footerTitle-2CYZch{
  color: var(--tertiary-color);
  font-size: 17.5px;
  font-weight: bold;
}
.header-3msK0M {
  overflow: hidden;
}
.theme-light .root-1gCeng {
  background-color: #000000;
}
.theme-light{
  --text-normal: #ffffff;
}
.container-UC8Ug1:hover {
  background-color: var(--dark);
}
.container-UC8Ug1{
  background-color: #141414;
}

/* settings connections modal */
.accountList-33MS45 {
  background-color: rgb(27, 27, 27);
}

.connection-1fbD7X  {
  background-color: #47474757;
}

.connectionHeader-2MDqhu {
  background: rgb(27, 27, 27);
}



.container-lRFx4q{
  background: none;
}




/* Removes the new ugly mention color */ 

.theme-dark .wrapper-3WhCwL {
  background: var(--mention);
}


/* Plugin BetterFriendsList color change */

.badge-1Skb69, .numberBadge-2s8kKX, .base-PmTxvP, .baseShapeRound-1Mm1YW{
  background-color: var(--details) !important;
}


