/**
* @name DARTIIC2K
* @author DARTIIC2K
* @description minimalist theme, easy to modify
* @version 5.0
*/
@import url(https://8xs4qxklp8.execute-api.us-east-2.amazonaws.com/release/gorawgit?giturl=/puckzxz/NotAnotherAnimeTheme/master/css/scsl.css);
@import url("https://mulverinex.github.io/legacy-settings-icons/dist-native.css");
@import url("https://discordstyles.github.io/RadialStatus/base.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
@import url(https://raw.githack.com/dartic2k/DARTIIC2K/main/dartictheme.css);



:root {
    /* Edit this to change your background */
    --background-image: #616161; /* format for a picture background is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, picture  */
    --friends-icon: url(https://media.discordapp.net/attachments/420346044640002058/767003540723335198/better-removebg-preview.png); /* format is url(IMAGE URL HERE) */
    /* Profile POPUP Background */
    --popup-background: url('https://i.imgur.com/ly3uoRR.jpg');
    --background-blur: 1px;
    --popup-blur: 20px;
    /* Edit this to change your friends icon picture, position  */
    --friends-icon-position: center center; /* default: center center */
    /* Edit this to change your friends icon picture, zoom  */
    --friends-icon-zoom: 100%; /* default: 100% */
    /* Change the main color */
    --main-color: #1db954 !important; /* default: rgb(67, 181, 129); */
    /* Chande global transparency */
    --main-transparency: rgba(0, 0, 0, 0.80); /* default: rgba(0, 0, 0, 0.8); */ 
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: whitesmoke;
    --quaternary-color: white;
    --details: #eb4034;
    --dark: #303030;
    --text-link: #1db954;
    


    /* Chats Title list */
    --gradient-primary: 0,0,0;
    --gradient-secondary: 100,100,100;
    --gradient-direction: 90deg;
    --text-normal: #fff;
  --text-default: rgb(255, 255, 255);
  --text-muted: #aaa;



  /* chat title color */
    --chat-title: #ffffff;

    /*Radial status mini theme  Credits - https://betterdiscordlibrary.com/users/Gibbu*/
    --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
    /*Acent Color */
    
    --hover-color: #ffffff; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */

    /* Change the unread server animation. Replace it with "none" in order to remove any animations */
    --unread-server-animation: rainbow;
    /* Change background color when you hover members or friends */
    --hover-list-bg-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15) */
    /* Change the tiny border lines color */
    --border-lines-color: hsla(0,0%,100%,.1); /* default: hsla(0,0%,100%,.1);*/
    /* Change the scroll bar color appearence */
    --scroll-bar-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15);*/

    /* Change chat messages font size, you can use any unit: px, em, rem, %, etc. */
    --font-size: 16px; /* default: 16px */
    /* Edit this to change the color of a selected text or voice join */
    --selected-text-voice-color: #f6f6f7; /* default: #f6f6f7 */
    /* Edit this to change the color when you hover over a text channel */
    --text-hover-color: #b9bbbe; /* default: #b9bbbe */
    /* Edit this to change the color when you hover over a voice channel */
    --voice-hover-color: #f6f6f7; /* default: #f6f6f7 */
    /* Edit this to change the color of an unread text channel color */
    --unread-text-color: #dcddde; /* default: #dcddde */
    
    /* Write "transparent" in order to make the options sections with the same look as the theme  */
    --options-transparency: transparent; /* default: #2f3136 */

    --offline: #636b75;
    --invisible: #747f8d;
    --streaming: #643da7;


    --server-radius: var(--border-radius);
    --border-radius: 35px;
    --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
    --gradient-20: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.2), rgba(var(--gradient-secondary), 0.2));
    --gradient-50: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.5), rgba(var(--gradient-secondary), 0.5));
    --gradient-90: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.9), rgba(var(--gradient-secondary), 0.9));

    /* URL URL URL */
    --url-color: var(--main-color); /*The color of url links [default: var(--main-color)]*/


    /* THEME BD COLORS */
	--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
  --bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
  
  
  /* SETTINGS ICONS */
  /* Icon Fill Color (Default: white) */
  --settings-icon-color: white;

  /* Nitro/Subscriptions Icon Fill (Default: #7289da) */
  --settings-subscriptions: #7289da;
  /* Hypesquad Icon Fill (Default: #fbb848) */
  --settings-hypesquad: #fbb848;
  /* Logout Icon Fill (Default: #f04747) */
  --settings-logout: #f04747;
  /* FONT */
  --font: 'Nunito';


  /* BetterCodeBlocks */
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #959da5;
  --syntax-grey-alt: #d1d5da;
  --syntax-orange: #ffab70;
    --syntax-green: #56b6c2;



  --vcolumns: var(--columns, 1);
	--vguildsize: var(--guildsize, 45);
	--vguildgap: var(--guildgap, 3);
	--valigndms: var(--aligndms, 0);
}

/* ADD CODE BELOW TO CUSTOMIZE THE THEME */

/* Font */
::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: 'Nunito Sans', sans-serif;
} 

